<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#review_form">
  Add a cocktail
</button>

<!-- Modal -->
<div class="modal fade" id="review_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Cocktail</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@cocktails) do |f| %>
          <%= f.input :name, placeholder: "whiskikok" %>
          <%= f.button :submit, "Add cocktail", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
